<p id="notice"><%= notice %></p>

<h1>Payer C Records
<%= link_to 'Genetate CSV Report', payer_c_records_path(format: :csv), class: 'btn btn-primary' %>
</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Record type</th>
        <th>Number of payees</th>
        <th>Blank</th>
        <th>Control total 1</th>
        <th>Control total 2</th>
        <th>Control total 3</th>
        <th>Control total 4</th>
        <th>Control total 5</th>
        <th>Control total 6</th>
        <th>Control total 7</th>
        <th>Control total 8</th>
        <th>Control total 9</th>
        <th>Control total a</th>
        <th>Control total b</th>
        <th>Control total c</th>
        <th>Control total d</th>
        <th>Control total e</th>
        <th>Control total f</th>
        <th>Control total g</th>
        <th>Blank</th>
        <th>Record sequence number</th>
        <th>Blank</th>
        <th>Blank or cr lf</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @payer_c_records.each do |payer_c_record| %>
        <tr>
          <td><%= payer_c_record.record_type %></td>
          <td><%= payer_c_record.number_of_payees %></td>
          <td><%= payer_c_record.blank %></td>
          <td><%= payer_c_record.control_total_1 %></td>
          <td><%= payer_c_record.control_total_2 %></td>
          <td><%= payer_c_record.control_total_3 %></td>
          <td><%= payer_c_record.control_total_4 %></td>
          <td><%= payer_c_record.control_total_5 %></td>
          <td><%= payer_c_record.control_total_6 %></td>
          <td><%= payer_c_record.control_total_7 %></td>
          <td><%= payer_c_record.control_total_8 %></td>
          <td><%= payer_c_record.control_total_9 %></td>
          <td><%= payer_c_record.control_total_a %></td>
          <td><%= payer_c_record.control_total_b %></td>
          <td><%= payer_c_record.control_total_c %></td>
          <td><%= payer_c_record.control_total_d %></td>
          <td><%= payer_c_record.control_total_e %></td>
          <td><%= payer_c_record.control_total_f %></td>
          <td><%= payer_c_record.control_total_g %></td>
          <td><%= payer_c_record.blank %></td>
          <td><%= payer_c_record.record_sequence_number %></td>
          <td><%= payer_c_record.blank %></td>
          <td><%= payer_c_record.blank_or_cr_lf %></td>
          <td><%= link_to 'Show', payer_c_record %></td>
          <td><%= link_to 'Edit', edit_payer_c_record_path(payer_c_record) %></td>
          <td><%= link_to 'Destroy', payer_c_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Payer C Record', new_payer_c_record_path %>
