<p id="notice"><%= notice %></p>

<p>
  <strong>Record type:</strong>
  <%= @payer_c_record.record_type %>
</p>

<p>
  <strong>Number of payees:</strong>
  <%= @payer_c_record.number_of_payees %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_c_record.blank %>
</p>

<p>
  <strong>Control total 1:</strong>
  <%= @payer_c_record.control_total_1 %>
</p>

<p>
  <strong>Control total 2:</strong>
  <%= @payer_c_record.control_total_2 %>
</p>

<p>
  <strong>Control total 3:</strong>
  <%= @payer_c_record.control_total_3 %>
</p>

<p>
  <strong>Control total 4:</strong>
  <%= @payer_c_record.control_total_4 %>
</p>

<p>
  <strong>Control total 5:</strong>
  <%= @payer_c_record.control_total_5 %>
</p>

<p>
  <strong>Control total 6:</strong>
  <%= @payer_c_record.control_total_6 %>
</p>

<p>
  <strong>Control total 7:</strong>
  <%= @payer_c_record.control_total_7 %>
</p>

<p>
  <strong>Control total 8:</strong>
  <%= @payer_c_record.control_total_8 %>
</p>

<p>
  <strong>Control total 9:</strong>
  <%= @payer_c_record.control_total_9 %>
</p>

<p>
  <strong>Control total a:</strong>
  <%= @payer_c_record.control_total_a %>
</p>

<p>
  <strong>Control total b:</strong>
  <%= @payer_c_record.control_total_b %>
</p>

<p>
  <strong>Control total c:</strong>
  <%= @payer_c_record.control_total_c %>
</p>

<p>
  <strong>Control total d:</strong>
  <%= @payer_c_record.control_total_d %>
</p>

<p>
  <strong>Control total e:</strong>
  <%= @payer_c_record.control_total_e %>
</p>

<p>
  <strong>Control total f:</strong>
  <%= @payer_c_record.control_total_f %>
</p>

<p>
  <strong>Control total g:</strong>
  <%= @payer_c_record.control_total_g %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_c_record.blank %>
</p>

<p>
  <strong>Record sequence number:</strong>
  <%= @payer_c_record.record_sequence_number %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_c_record.blank %>
</p>

<p>
  <strong>Blank or cr lf:</strong>
  <%= @payer_c_record.blank_or_cr_lf %>
</p>

<%= link_to 'Edit', edit_payer_c_record_path(@payer_c_record) %> |
<%= link_to 'Back', payer_c_records_path %>
