<p id="notice"><%= notice %></p>

<p>
  <strong>Record type:</strong>
  <%= @payer_b_record.record_type %>
</p>

<p>
  <strong>Payment year:</strong>
  <%= @payer_b_record.payment_year %>
</p>

<p>
  <strong>Corrected return indicator:</strong>
  <%= @payer_b_record.corrected_return_indicator %>
</p>

<p>
  <strong>Name control:</strong>
  <%= @payer_b_record.name_control %>
</p>

<p>
  <strong>Type of tin:</strong>
  <%= @payer_b_record.type_of_tin %>
</p>

<p>
  <strong>Payee tin:</strong>
  <%= @payer_b_record.payee_tin %>
</p>

<p>
  <strong>Payer account number for payee:</strong>
  <%= @payer_b_record.payer_account_number_for_payee %>
</p>

<p>
  <strong>Payers office code:</strong>
  <%= @payer_b_record.payers_office_code %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_b_record.blank %>
</p>

<p>
  <strong>Payment amount 1:</strong>
  <%= @payer_b_record.payment_amount_1 %>
</p>

<p>
  <strong>Payment amount 2:</strong>
  <%= @payer_b_record.payment_amount_2 %>
</p>

<p>
  <strong>Payment amount 3:</strong>
  <%= @payer_b_record.payment_amount_3 %>
</p>

<p>
  <strong>Payment amount 4:</strong>
  <%= @payer_b_record.payment_amount_4 %>
</p>

<p>
  <strong>Payment amount 5:</strong>
  <%= @payer_b_record.payment_amount_5 %>
</p>

<p>
  <strong>Payment amount 6:</strong>
  <%= @payer_b_record.payment_amount_6 %>
</p>

<p>
  <strong>Payment amount 7:</strong>
  <%= @payer_b_record.payment_amount_7 %>
</p>

<p>
  <strong>Payment amount 8:</strong>
  <%= @payer_b_record.payment_amount_8 %>
</p>

<p>
  <strong>Payment amount 9:</strong>
  <%= @payer_b_record.payment_amount_9 %>
</p>

<p>
  <strong>Payment amount a:</strong>
  <%= @payer_b_record.payment_amount_a %>
</p>

<p>
  <strong>Payment amount b:</strong>
  <%= @payer_b_record.payment_amount_b %>
</p>

<p>
  <strong>Payment amount c:</strong>
  <%= @payer_b_record.payment_amount_c %>
</p>

<p>
  <strong>Payment amount d:</strong>
  <%= @payer_b_record.payment_amount_d %>
</p>

<p>
  <strong>Payment amount e:</strong>
  <%= @payer_b_record.payment_amount_e %>
</p>

<p>
  <strong>Payment amount f:</strong>
  <%= @payer_b_record.payment_amount_f %>
</p>

<p>
  <strong>Payment amount g:</strong>
  <%= @payer_b_record.payment_amount_g %>
</p>

<p>
  <strong>Foreign country indicator:</strong>
  <%= @payer_b_record.foreign_country_indicator %>
</p>

<p>
  <strong>First payee name line:</strong>
  <%= @payer_b_record.first_payee_name_line %>
</p>

<p>
  <strong>Second payee name line:</strong>
  <%= @payer_b_record.second_payee_name_line %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_b_record.blank %>
</p>

<p>
  <strong>Payee mailing address:</strong>
  <%= @payer_b_record.payee_mailing_address %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_b_record.blank %>
</p>

<p>
  <strong>Payee city:</strong>
  <%= @payer_b_record.payee_city %>
</p>

<p>
  <strong>Payee state:</strong>
  <%= @payer_b_record.payee_state %>
</p>

<p>
  <strong>Payee zip code:</strong>
  <%= @payer_b_record.Payee_zip_code %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_b_record.blank %>
</p>

<p>
  <strong>Record sequence number:</strong>
  <%= @payer_b_record.record_sequence_number %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_b_record.blank %>
</p>

<%= link_to 'Edit', edit_payer_b_record_path(@payer_b_record) %> |
<%= link_to 'Back', payer_b_records_path %>
