<p id="notice"><%= notice %></p>

<p>
  <strong>Record type:</strong>
  <%= @transmitter_t_record.record_type %>
</p>

<p>
  <strong>Payment year:</strong>
  <%= @transmitter_t_record.payment_year %>
</p>

<p>
  <strong>Prior year data indicator:</strong>
  <%= @transmitter_t_record.prior_year_data_indicator %>
</p>

<p>
  <strong>Transmitters tin:</strong>
  <%= @transmitter_t_record.transmitters_tin %>
</p>

<p>
  <strong>Tranmitter control code:</strong>
  <%= @transmitter_t_record.tranmitter_control_code %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @transmitter_t_record.blank %>
</p>

<p>
  <strong>Test file indicator:</strong>
  <%= @transmitter_t_record.test_file_indicator %>
</p>

<p>
  <strong>Foreign entity indicator:</strong>
  <%= @transmitter_t_record.foreign_entity_indicator %>
</p>

<p>
  <strong>Transmitter name:</strong>
  <%= @transmitter_t_record.transmitter_name %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @transmitter_t_record.companyname %>
</p>

<p>
  <strong>Company mailing address:</strong>
  <%= @transmitter_t_record.company_mailing_address %>
</p>

<p>
  <strong>Comapny city:</strong>
  <%= @transmitter_t_record.comapny_city %>
</p>

<p>
  <strong>Company state:</strong>
  <%= @transmitter_t_record.company_state %>
</p>

<p>
  <strong>Company zip code:</strong>
  <%= @transmitter_t_record.company_zip_code %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @transmitter_t_record.blank %>
</p>

<p>
  <strong>Total no of payees:</strong>
  <%= @transmitter_t_record.total_no_of_payees %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @transmitter_t_record.contact_name %>
</p>

<p>
  <strong>Contact telephone number and etension:</strong>
  <%= @transmitter_t_record.contact_telephone_number_and_etension %>
</p>

<p>
  <strong>Contact email address:</strong>
  <%= @transmitter_t_record.contact_email_address %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @transmitter_t_record.blank %>
</p>

<p>
  <strong>Record sequence number:</strong>
  <%= @transmitter_t_record.record_sequence_number %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @transmitter_t_record.blank %>
</p>

<p>
  <strong>Vendor indicator:</strong>
  <%= @transmitter_t_record.vendor_indicator %>
</p>

<p>
  <strong>Vendor name:</strong>
  <%= @transmitter_t_record.vendor_name %>
</p>

<p>
  <strong>Vendor mailing:</strong>
  <%= @transmitter_t_record.vendor_mailing %>
</p>

<p>
  <strong>Address:</strong>
  <%= @transmitter_t_record.address %>
</p>

<p>
  <strong>Vendor city:</strong>
  <%= @transmitter_t_record.vendor_city %>
</p>

<p>
  <strong>Vendor state:</strong>
  <%= @transmitter_t_record.vendor_state %>
</p>

<p>
  <strong>Vendor zip code:</strong>
  <%= @transmitter_t_record.vendor_zip_code %>
</p>

<p>
  <strong>Vendor contact name:</strong>
  <%= @transmitter_t_record.vendor_contact_name %>
</p>

<p>
  <strong>Vendor contact telephone number extension:</strong>
  <%= @transmitter_t_record.vendor_contact_telephone_number_extension %>
</p>

<p>
  <strong>Blank integer vendor foreign entity indicator:</strong>
  <%= @transmitter_t_record.blank_integer_vendor_foreign_entity_indicator %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @transmitter_t_record.blank %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @transmitter_t_record.blank %>
</p>

<%= link_to 'Edit', edit_transmitter_t_record_path(@transmitter_t_record) %> |
<%= link_to 'Back', transmitter_t_records_path %>
