<p id="notice"><%= notice %></p>

<p>
  <strong>Record type:</strong>
  <%= @payer_a_record.record_type %>
</p>

<p>
  <strong>Payment year:</strong>
  <%= @payer_a_record.payment_year %>
</p>

<p>
  <strong>Combined federal state filing program:</strong>
  <%= @payer_a_record.combined_federal_state_filing_program %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_a_record.blank %>
</p>

<p>
  <strong>Payers tin:</strong>
  <%= @payer_a_record.payers_tin %>
</p>

<p>
  <strong>Payer name control:</strong>
  <%= @payer_a_record.payer_name_control %>
</p>

<p>
  <strong>Last filing factor:</strong>
  <%= @payer_a_record.last_filing_factor %>
</p>

<p>
  <strong>Type of return:</strong>
  <%= @payer_a_record.type_of_return %>
</p>

<p>
  <strong>Amount codes:</strong>
  <%= @payer_a_record.amount_codes %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_a_record.blank %>
</p>

<p>
  <strong>Foreign entity indictor:</strong>
  <%= @payer_a_record.foreign_entity_indictor %>
</p>

<p>
  <strong>First payer name line:</strong>
  <%= @payer_a_record.first_payer_name_line %>
</p>

<p>
  <strong>Second payer name line:</strong>
  <%= @payer_a_record.second_payer_name_line %>
</p>

<p>
  <strong>Transfer agent indicator:</strong>
  <%= @payer_a_record.transfer_agent_indicator %>
</p>

<p>
  <strong>Payers shipping address:</strong>
  <%= @payer_a_record.payers_shipping_address %>
</p>

<p>
  <strong>Payer city:</strong>
  <%= @payer_a_record.payer_city %>
</p>

<p>
  <strong>Payer state:</strong>
  <%= @payer_a_record.payer_state %>
</p>

<p>
  <strong>Payer zip code:</strong>
  <%= @payer_a_record.payer_zip_code %>
</p>

<p>
  <strong>Payers telephone number extension:</strong>
  <%= @payer_a_record.payers_telephone_number_extension %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_a_record.blank %>
</p>

<p>
  <strong>Record sequence number:</strong>
  <%= @payer_a_record.record_sequence_number %>
</p>

<p>
  <strong>Blank:</strong>
  <%= @payer_a_record.blank %>
</p>

<p>
  <strong>Blank of cr lf:</strong>
  <%= @payer_a_record.blank_of_cr_lf %>
</p>

<%= link_to 'Edit', edit_payer_a_record_path(@payer_a_record) %> |
<%= link_to 'Back', payer_a_records_path %>
